@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
    background-color: #1D3557;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    -webkit-user-select: none;
    font-family: "cwTeXYen", sans-serif;
}
#up{
    max-width: 960px;
    width: 100%; height: 480px;
    display: flex;
    flex-wrap: nowrap;
}
#screen{
    width: 100%; height: 100%;
    position: relative;
    background-size: cover;
    background-position: top center;
    background-color: #F1FAEE;
}
#status{
    width: 50%;
    padding: 5%;
    text-align: left;
    position: relative;
    background-color: #A8DADC;
    font-size: 1.5em;
}
.down{
    max-width: 960px;
    background-color: #E63946;
    width: 100%;
    justify-content: center; 
    align-items: center;
}
.icon{
    display: inline-block;
    margin: 2%;
    height: 96px;
    width: 96px;
    transform: scale(1,1);
    transition: all 1s ease-out;
}
.icon:hover{
    transform:scale(1.2,1.2);
}
.left{
    width: 100%;
}
iframe{
    border: none;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 750px){
    body{flex-wrap: wrap;}
    #right{height: 480px;}
}
@media screen and (max-width: 400px){
    #up{flex-wrap: wrap;}
    #screen{height: 60%;}
    #status{width: 100%; height: 30%; font-size: 1em;}
}
.middle{
    max-width: 960px;
    font-size: 24px;
}
dialog{
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
    font-size: 24px;
    z-index: 99;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.3);
}
#shopitem>div{
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px; width: 64px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}
#addatk{background-image: url("../img/shop/atk.png");}
#adddef{background-image: url("../img/shop/def.png");}
#addstk{background-image: url("../img/shop/stk.png");}
#addsdf{background-image: url("../img/shop/sdf.png");}
#recover{background-image: url("../img/shop/recover.png");}
#addexp{background-image: url("../img/shop/exp.png");}
#relv{background-image: url("../img/shop/re.png");}
#newchar{background-image: url("../img/shop/new.png");}

nav{
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 5em;
    cursor: pointer;
}
nav img{
    position: relative;
    height: 24px; width: 24px;
    top: 4px;
}
nav:hover{
    font-weight: bold;
    color: navy;
    background-color: #457B9D;
}
nav ul{
    z-index: 100;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}
nav:hover ul{ display: block; }
nav ul li{
    border-top: 2px solid #1D3557;
    background-color: white;
    width: 5em;
    color: black;
}
nav ul li:hover{ background-color: PowderBlue; }
